In [3]:
#retriving series elements using index
import pandas as pd

s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

#retrieve the last three element
print (s[-3:])

c    3
d    4
e    5
dtype: int64

In [5]:
import pandas as pd

s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

#retrieve a single element using lable(index)
print (s['a'],s['b'],s['e'])

#adding two elements 
print (s['a']+s['e'])

1 2 5
6

In [10]:
import pandas as pd

s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

print(s)

#retrive multiple elements using a list of index lable values
print(s[['a','c','d']])

a    1
b    2
c    3
d    4
e    5
dtype: int64
a    1
c    3
d    4
dtype: int64

In [9]:
#giving column names dataframe

import pandas as pd
data = [['alex',10],['bob',12],['clarke',13]]
df = pd.DataFrame(data,columns=['name','age'])
print (df)

     name  age
0    alex   10
1     bob   12
2  clarke   13

In [13]:
#giving column to dataframe
import pandas as pd
data={'name':['tom','jack','steve','ricky'], 'age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

    name  age
0    tom   28
1   jack   34
2  steve   29
3  ricky   42

In [15]:
#custom index and column in dataframe
import pandas as pd
data={'name':['tom','jack','steve','ricky'], 'age':[28,34,29,42]}
df = pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print(df)

        name  age
rank1    tom   28
rank2   jack   34
rank3  steve   29
rank4  ricky   42

In [16]:
# to create dataframe by passing a list of dictionaries
import pandas as pd
data = [{'a':1,'b':2,},{'a':5,'b':10,'c':20}]
df = pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [17]:
#custom index to dataframe created by passing a list of dictionaries
import pandas as pd
data = [{'a':1,'b':2},{'a':5, 'b':10, 'c':20}]
df = pd.DataFrame(data,index=['first','second'])
print (df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [18]:
#custom index and column to dataframe created by passing a list of dictionaries

import pandas as pd
data= [{'a':1,'b':2}, {'a':5,'b':10,'c':20}]

df1 =pd.DataFrame(data, index=['first','second'],columns=['a','b'])
df2 =pd.DataFrame(data, index=['first','second'],columns=['a','c'])

print(df1)
print("\n")
print(df2)

        a   b
first   1   2
second  5  10


        a     c
first   1   NaN
second  5  20.0

In [20]:
# creating series within dictionay

import pandas as pd
d={'one':pd.Series([1,2,3],index=['a','b','c']), 'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df = pd.DataFrame(d)
print(df['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [22]:
# adding a column using existing dataframe

import pandas as pd
d={'one':pd.Series([1,2,3],index=['a','b','c']), 'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df = pd.DataFrame(d)

print("adding a new column by passing as series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)
print("adding a new column using the existing columns in dataframe:")
df['four']=df['one']+df['three']
print(df)

adding a new column by passing as series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
adding a new column using the existing columns in dataframe:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [24]:
# using 'del' for deleting columns

import pandas as pd
d={'one':pd.Series([1,2,3],index=['a','b','c']), 'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df = pd.DataFrame(d)

print("adding a new column by passing as series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)
print("adding a new column using the existing columns in dataframe:")
df['four']=df['one']+df['three']
print(df)
print("deleting column one")
del df['one']
print (df)
print("deleting column two")
del df['two']
print (df)

adding a new column by passing as series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
adding a new column using the existing columns in dataframe:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN
deleting column one
   two  three  four
a    1   10.0  11.0
b    2   20.0  22.0
c    3   30.0  33.0
d    4    NaN   NaN
deleting column two
   three  four
a   10.0  11.0
b   20.0  22.0
c   30.0  33.0
d    NaN   NaN

In [25]:
# loc function
import pandas as pd
d= {'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
print (df.loc['b'])
#rows can be selected by passing integer location to an loc function

three    20.0
four     22.0
Name: b, dtype: float64

In [27]:
# ':' operand for selecting multiple rows
import pandas as pd
d = {'one':pd.Series([1,2,3],index=['a','b','c']),
    'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df = pd.DataFrame(d)
print(df[2:4])
# multiple rows can be selected using':' operator

   one  two
c  3.0    3
d  NaN    4

In [29]:
# drop function

import pandas as pd
df = pd.DataFrame([[1,2],[3,4]], columns=['a','b'])
df2 = pd.DataFrame([[5,6],[7,8]], columns=['a','b'])
df = df.append(df2)

print(df, "\n")
# drop rows with lable 0
df = df.drop(0)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

   a  b
1  3  4
1  7  8